<div ng-controller="MainController as main">
    <button class="btn btn-default" ng-click="main.addIngestion()">Add
        {{main.getTitleIngestion()}}
    </button>
    <button class="btn btn-default" ng-click="main.addIngestion(true)">Add
        {{main.getTitleIngestion(true)}}</a></button>
    <br>

    <p ng-hide="main.ingestions.length">You don't have any records about your food for today</p>

    <br>

    <div ng-repeat="ingestion in main.ingestions" class="panel panel-default">
        <div class="panel-heading">{{ingestion.title}}</div>
        <div class="panel-body">
            Content
        </div>
    </div>
</div>