<div ng-controller="TodayController as todayCtrl">
    <toaster-container></toaster-container>
    <button class="btn btn-default" ng-click="todayCtrl.addIngestion()">Add
        {{todayCtrl.getTitleIngestion()}}
    </button>
    <button class="btn btn-default" ng-click="todayCtrl.addIngestion(true)">Add
        {{todayCtrl.getTitleIngestion(true)}}</a></button>
    <br>

    <p ng-hide="todayCtrl.ingestions.length">You don't have any records about your food for today</p>

    <br>

    <div ng-repeat="ingestion in todayCtrl.ingestions" class="panel panel-default">
        <div class="panel-heading">{{ingestion.title}}</div>
        <div class="panel-body">
            Content
        </div>
    </div>
</div>